@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.ligth {
  --body-color-Ligth: hsl(0, 0%, 99%);
  --button-color-Ligth: hsl(0, 89%, 55%);
  --button-color-hover-Ligth: hsl(249, 65%, 62%);
  --card-color-Ligth: hsl(240, 33%, 99%);
  --title-color-Ligth: hsl(0, 0%, 0%);
  --text-color-Ligth: hsl(0, 0%, 0%);
  --nav-color-Ligth:  hsl(0, 89%, 55%);
  --nav-border-color: hsl(0, 0%, 0%);
  --inpun-color:  hsl(0, 0%, 99%);
  --box-shadow-color:hsl(180, 2%, 26%);
  --text-card-info: rgba(128, 128, 128, 0.856);
}

.dark{
  --body-color-Ligth: #1d1b1b;
  --button-color-Ligth: hsl(221, 69%, 69%);
  --button-color-hover-Ligth: hsl(0, 84%, 51%);
  --card-color-Ligth: hsl(0, 0%, 95%);
  --title-color-Ligth: hsl(0, 0%, 100%);
  --text-color-Ligth: hsl(0, 100%, 100%);
  --nav-color-Ligth:hsl(221, 69%, 69%);
  --nav-border-color: hsl(0, 0%, 0%);
  --inpun-color:  hsl(0, 0%, 99%);
  --box-shadow-color:hsl(0, 0%, 4%);
  --text-card-info: rgba(220, 217, 217, 0.856); 
}

/* btn-dark */

.switch {
  background-color: var(--button-color-Ligth);
  border-radius: 1000px;
  border: none;
  position: absolute;
  right: 0rem;
  top: 7rem;
  cursor: pointer;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3rem 0.5rem;
  gap: 1rem;
  z-index: 1000;
}
.switch:hover {
  transform: scale(1.1);
}
.switch::after {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  transition: 0.3s ease all;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  
}
.switch.active {
  background-color: var(--button-color-Ligth);
  color: black;
}
.switch.active::after {
  left: unset;
  right: 0;
}
.switch span {
  display: flex;
  background-color: none;
  color: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: content-box;
 
  
}
.container-app{
  background-color: var(--body-color-Ligth);
}

.nav{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--nav-color-Ligth);
  border-bottom: 1.5rem solid var(--nav-border-color);
  z-index: 1000;
}
.nav-input{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background-color: var(--button-color-Ligth);
  border-bottom: 1.5rem solid var(--nav-border-color);
  z-index: 1000;

}
.nav-img{
  width: 30%;
  margin: .5rem;
  
}

/* funcion loader */
.loader  {

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: var(--body-color-Ligth);
}


/* componente inputname */
.input-name{
  overflow-x: hidden;
 
}
.input-card {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  
  
}

.input-card>h1 {
 position: absolute;
 top: 10rem;
 left: 2rem;
 color: var(--text-color-Ligth);


}

.img-card {
  position: absolute;
  width: 50%;
  right: 2.1rem;
  top: 10rem;

}

.container-input-name {
  
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-top: 26rem;
  
   
}

.container-input-btn {

  width: 80%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container-input-btn>input {
  border: .5px solid var(--nav-border-color);
  width: 100%;
  height: 78px;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px 2px var(--box-shadow-color);
  font-size: 20px;
  text-align: center;
  background-color: var(--inpun-color);
  border: 2px solid black;

}

.container-input-btn>button {
  position: absolute;
  right: .2rem;
  border-radius: 50%;
  border: none;
  padding: 1.9rem;
  background-color: var(--button-color-Ligth);
  outline: none;
}

.container-input-btn>button:hover {
  color: white;
  transform: scale(100rem);
  background-color: var(--button-color-hover-Ligth);
  /* Color de fondo al pasar el cursor */
 

}

input:focus {
  outline: none;
}

.subtitle-card {
  margin-bottom: 1rem;
  color: var(--text-color-Ligth);

}

/* componente pokedex */

.container-Pokedex {
 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Secular One', sans-serif;
 
}

.pokedex {
  margin: 2rem;
  line-height: 2rem;
}

.name {
  color: var(--button-color-Ligth);
}

.title-pokedex {
  font-family: 'Secular One', sans-serif;
  font-weight: 900;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.subtitle-pokedex {
  margin-top: 8rem;
  margin-bottom: 3rem;
  color: var(--title-color-Ligth);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.btn-back {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: none;
  color: var(--text-color-Ligth);
  font-weight: 900;
  position: fixed;
  right: 0;
  top: 34rem;
  background-color: var(--button-color-Ligth);
  box-shadow: 0px 10px 10px 0px var(--body-color-Ligth);

}

.btn-back:hover {
  color: var(--body-color-Ligth);
  transform: scale(100rem);
  background-color: var(--button-color-hover-Ligth);
  /* Color de fondo al pasar el cursor */
  transform: translateY(-7px);
}

.container-search{
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}
input{
  width: 38%;
  height: 35px;
  background-color: var(--inpun-color);
  box-shadow: 0px 1px 3px 0px var(--box-shadow-color);
  text-align: center;
}
select{
  margin-left: 5px;
  width: 37%;
  background-color: var(--inpun-color);
  box-shadow: 0px 1px 3px 0px var(--box-shadow-color);
  border: 1px solid var(--text-color-Ligth);
  border-radius: 3px;

}
.btn-search{
  width: 20%;
  background-color: var(--button-color-Ligth);
  box-shadow: 0px 1px 3px 0px var(--box-shadow-color);
}

.btn-search:hover {
  color: white;
  transform: scale(100rem);
  background-color: var(--button-color-hover-Ligth);
  /* Color de fondo al pasar el cursor */
 
  
}

.pagination{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: .5rem;

 
  
}
.pagination-btn{
  background-color: var(--body-color-Ligth);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  padding: .3rem;

}
.pagination-btn:hover{
  color: white;
  transform: scale(100rem);
  background-color: var(--button-color-hover-Ligth);
  /* Color de fondo al pasar el cursor */
 

}
.number-pages{
  width: 30px;
  height: 30px;
  border: none;
  font-size: 20px;
  background-color: var(--body-color-Ligth);
  padding: .3rem;
  color: var(--text-color-Ligth);
}


.number-pages:focus{
  background-color: var(--button-color-Ligth);
}
.number-pages:active{
  background-color: var(--button-color-Ligth);
}

/* componente card pokemon */


.container-card-pokemon {
  
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  width: 251px;
  height: 320px;
  padding: .5rem;
  margin: 1rem;
  margin-left: 1.9rem;
  cursor: pointer;
  transition: all 300ms;
  
}
.container-card-pokemon:hover{
  -webkit-transform: scale(.3);
  transform: scale(1.06);
  
}

.card-pokemon {
  
  background-color: var(--card-color-Ligth);
  width: 236px;
  height: 232px;
  border-radius: 0px 0px 15px 15px;
  padding: .5rem;
  margin-top: 4.5rem;
  box-shadow: inset 0 0 0 7px rgb(183, 180, 180);

}

.card-pokemon-inside {
  
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
 
}



.container-img-pokemon{
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  top: 0; 

}

.img-pokemon-card {
  top: 0;
  padding-top: .5rem;
  width: 110px;
  height: 110px;
  max-width: 130px;
}

.title-car-pokemon {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem; 
  padding-top: 1rem;


}
.pokemon-card-info{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  padding-bottom: 10px;
  border-bottom: .5px solid rgba(128, 128, 128, 0.427);
  
}
.data-card-pokemon1{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  line-height: 15px;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.data-card-pokemon1 b{
  color: var(--text-card-info);
  font-weight: 100;
}

.data-card-pokemon1 p{
  
  font-weight:500;
}

/* componente PokemonId */

.card-pokemonId{
  display: flex;
  flex-direction: column;
  padding: 9rem;
}
.img-pokemonId{
  width: 300px;
}

/* componente pekedexid */

.container-pokemonId{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.card-pokemonId{
  display: flex;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin-top: 13rem;
  padding: 0%;
 
  
}

.card-pokemon-id-img{
  width: 100%;
  height: 135px;
  position: relative;
  border-radius: 1rem 1rem 0 0;
}
.img-pokemonId{
  width: 200px;
  position: absolute;
  top: -5rem;
  left: 25%;
  
}

.TitleName{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.title-id{
  margin-top: 2rem;
}
.pokemonId-name-card{
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.909);
}

.container-type{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 2rem;

}
.card-pokemonid-type, .card-pokemonid-Abilities, .progress-bar{
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px 1px var(--box-shadow-color);
  margin-bottom: 3rem;
  background-color: var(--card-color-Ligth);
  padding: 10px;

  
  
}
.container-type-one-two{
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  
 

}
.type1, .type2{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 90px;
  height: 30px;
  padding: 10px;
  text-align: center;
  color: black;
  box-shadow: 1px 1px 4px 1px var(--box-shadow-color); 
  background-color: var(--card-color-Ligth);
}
.progress-bar{
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
progress[value] {
  width: 250px;
  height: 20px;

  /* Reinicializar estilos */

  appearance: none;
  -webkit-appearance: none;

} 

progress[value]::-webkit-progress-bar {
  background-color: gold;
}

progress[value]::-webkit-progress-bar {
  border-radius: 15px;
}

progress[value]::-webkit-progress-value {
  background-color: var(--nav-color-Ligth)
}

progress[value]::-webkit-progress-value {
border-radius: 15px;
}

progress[value] {
  width: 250px;
  height: 20px;

  /* Reinicializar estilos */

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Quitar borde en Firefox */

  border: none;

}

.span-stats{
  margin-left: 8px;
}



/* #################### Medias Query ##################### */

@media (min-width: 900px) {

  /* media input name */
 
  .nav-img{
    width: 20%;
    margin: .5rem;

    
  }
  
  .input-card {
    
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
   
   
    
  }
  .input-card >h1 {
  position: absolute;
  top: 30%;
  left: 35%;
  color: var(--text-color-Ligth);
 
  }
  

  .img-card {
    position: absolute;
    width: 14%;
    right: 38%;
    top: 8rem;

  }

  .subtitle-card {
    font-size: 15px;
    font-family: 'Secular One', sans-serif;
    color: var(--text-color-Ligth);

    

  }

  .container-input-name {
  
   display: flex;
   flex-direction: column;
   width: 35%;
   margin-top: 22rem;
   /* margin-left: 7rem; */
  }

  .container-input-btn>button {
    position: absolute;
    right: 0px;
    border-radius: 50%;
    border: none;
    padding: 1.9rem;
    background-color: var(--button-color-Ligth);
    right: 35%;

  }

  .container-input-btn>input {
    font-size: 30px;
    border: none;
  }



  /* query pokedex */

  .container-Pokedex {
    /* background-color: #dd1a1a; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  
   

  }

  .pokedex {
    margin: 5rem;
    
    
    

  }
  .title-pokedex{
    padding-left: 1rem;
  }

  .subtitle-pokedex {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 1rem;
    font-family: 'Secular One', sans-serif;
  }

  .btn-back {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: none;
    color: black;
    font-weight: 900;
    position: fixed;
    right: 2rem;
    top: 29rem;
    background-color: var(--button-color-Ligth);
    box-shadow: 2px 2px 10px 0px var(--box-shadow-color)
  
  }
  
  .btn-back:hover {
    color: white;
    transform: scale(100rem);
    background-color: var(--button-color-hover-Ligth);
    /* Color de fondo al pasar el cursor */
    transform: translateY(-7px);
  }
 

  .container-search{
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  input{
    width: 38%;
    height: 50px;
    background-color: var(--inpun-color);
    border: none;
    box-shadow: 0px 1px 3px 0px var(--box-shadow-color);
    text-align: center;
  }
  select{
    margin-left: 15px;
    width: 40%;
    background-color: var(--inpun-color);
    border: none;
    box-shadow: 0px 1px 3px 0px var(--box-shadow-color)
  
  }
  .btn-search{
    width: 20%;
    background-color: var(--button-color-Ligth);
    border: none;
    box-shadow: 0px 1px 3px 0px var(--box-shadow-color)
  }


  .pagination{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 3rem;
    margin-top: 3rem;

  
    gap: .5rem;
  }
  .pagination-btn{
    background-color: var(--button-color-Ligth);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    padding: .3rem;

  }
  .pagination-btn:hover{
    color: var(--body-color-Ligth);
    transform: scale(100rem);
    background-color: var(--button-color-hover-Ligth);
    /* Color de fondo al pasar el cursor */
   
  
  }
  .number-pages{
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    background-color: var(--body-color-Ligth);
    padding: .3rem;
  }


  .number-pages:focus{
    background-color: var(--button-color-Ligth);
  }

  

  /* query pokemon card */

  .grid{
    display: grid;
    width: 900px;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 3rem;
    margin-right: 4rem;
  }

  .switch {
    background-color: var(--button-color-Ligth);
    border-radius: 1000px;
    border: none;
    position: fixed;
    right: 2rem;
    top: 13rem;
    cursor: pointer;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.3rem 0.5rem;
    gap: 1rem;
    z-index: 3000;
  }
  

}