@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: content-box;
}

.nav{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #dd1a1a;
  border-bottom: 1.5rem solid black;
  z-index: 1000;
}
.nav-input{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  background-color: #dd1a1a;
  border-bottom: 1.5rem solid black;
  z-index: 1000;

}
.nav-img{
  width: 50%;
  margin: .5rem;
  
}

/* funcion loader */
.loader,
.input-name {

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


/* componente inputname */

.input-card {

  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 1rem;
  margin-top: 8rem;
  overflow-y: scroll;


}

.input-card>h1 {
  font-family: 'Secular One', sans-serif;

}

.img-card {
  position: absolute;
  width: 50%;
  right: 2rem;
  top: 10rem;

}

.container-input-name {
  position: relative;
  margin-top: 20rem;
}

.container-input-btn {

  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container-input-btn>input {
  border: .5px solid black;
  width: 100%;
  height: 78px;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px 2px gray;
  font-size: 20px;
  text-align: center;

}

.container-input-btn>button {
  position: absolute;
  right: -15px;
  border-radius: 50%;
  border: none;
  padding: 1.6rem;
  background-color: red;
  outline: none;
}

.container-input-btn>button:hover {
  color: white;
  transform: scale(100rem);
  background-color: #2c2fa5;
  /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

}

input:focus {
  outline: none;
}

.subtitle-card {
  margin-bottom: 1rem;
}

/* componente pokedex */

.container-Pokedex {
 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Secular One', sans-serif;
}

.pokedex {
  margin: 2rem;
  line-height: 2rem;
}

.name {
  color: red;
}

.title-pokedex {
  font-family: 'Secular One', sans-serif;
  font-weight: 900;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.subtitle-pokedex {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.btn-back {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: none;
  color: black;
  font-weight: 900;
  position: fixed;
  right: 1rem;
  top: 34rem;
  background-color: red;
  box-shadow: 0px 10px 10px 0px gray;

}

.btn-back:hover {
  color: white;
  transform: scale(100rem);
  background-color: #2c2fa5;
  /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.container-search{
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}
input{
  width: 38%;
  height: 35px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px gray;
  text-align: center;
}
select{
  margin-left: 5px;
  width: 37%;
  background-color: white;
  box-shadow: 0px 1px 3px 0px gray;
  border: 1px solid black;
  border-radius: 3px;

}
.btn-search{
  width: 20%;
  background-color: #dd1a1a;
  box-shadow: 0px 1px 3px 0px gray;
}

.btn-search:hover {
  color: white;
  transform: scale(100rem);
  background-color: #2c2fa5;
  /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  
}

.pagination{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: .5rem;
}
.pagination-btn{
  background-color: #dd1a1a;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  padding: .3rem;

}
.pagination-btn:hover{
  color: white;
  transform: scale(100rem);
  background-color: #2c2fa5;
  /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

}
.number-pages{
  width: 30px;
  height: 30px;
  border: none;
  font-size: 20px;
  background-color: white;
  padding: .3rem;
}


.number-pages:focus{
  background-color: #dd1a1a;
}

/* componente card pokemon */


.container-card-pokemon {
  
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  width: 230px;
  height: 320px;
  padding: .5rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 300ms;
  
}
.container-card-pokemon:hover{
  -webkit-transform: scale(.3);
  transform: scale(1.06);
  
}

.card-pokemon {
  
  background-color: white;
  width: 210px;
  height: 230px;
  border-radius: 0px 0px 15px 15px;
  padding: .5rem;
  margin-top: 4.3rem;
  box-shadow: inset 0 0 0 7px rgb(241, 234, 234);
  

}

.card-pokemon-inside {
  
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
 
}



.container-img-pokemon{
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  top: 0; 

}

.img-pokemon-card {
  top: 0;
  padding-top: .5rem;
  width: 110px;
  height: 110px;
  max-width: 130px;
}

.title-car-pokemon {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem; 
  padding-top: 1rem;


}
.pokemon-card-info{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  padding-bottom: 10px;
  border-bottom: .5px solid rgba(128, 128, 128, 0.427);
  
}
.data-card-pokemon1{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  line-height: 15px;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.data-card-pokemon1 b{
  color: rgba(128, 128, 128, 0.856);
  font-weight: 100;
}

.data-card-pokemon1 p{
  
  font-weight:500;
}

/* componente PokemonId */

.card-pokemonId{
  display: flex;
  flex-direction: column;
  padding: 9rem;
}
.img-pokemonId{
  width: 300px;
}


/* #################### Medias Query ##################### */

@media (min-width: 900px) {

  /* media input name */
 
  .nav-img{
    width: 20%;
    margin: .5rem;
    
  }
  
  .input-card {

    display: flex;
    flex-direction: column;
    width: 450px;
    overflow-y: hidden;
  

  }
  

  .img-card {
    position: absolute;
    width: 180px;
    height: 300px;
    right: 39%;
    top: 9  rem;

  }

  .subtitle-card {
    font-size: 15px;
    font-family: 'Secular One', sans-serif;

  }

  .container-input-name {
    position: relative;
    margin-top: 14rem;
    padding: 1rem;
  }

  .container-input-btn>button {
    position: absolute;
    right: 0px;
    border-radius: 50%;
    border: none;
    padding: 1.4rem;
    background-color: red;

  }

  .container-input-btn>input {
    font-size: 30px;
    border: none;
  }



  /* query pokedex */

  .container-Pokedex {
    /* background-color: #dd1a1a; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   

  }

  .pokedex {
    margin: 4rem;
    
    

  }
  .title-pokedex{
    padding-left: 1rem;
  }

  .subtitle-pokedex {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 1rem;
  }

  .btn-back {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: none;
    color: black;
    font-weight: 900;
    position: fixed;
    right: 2rem;
    top: 29rem;
    background-color: red;
    box-shadow: 0px 10px 10px 0px gray;
  
  }
  
  .btn-back:hover {
    color: white;
    transform: scale(100rem);
    background-color: #2c2fa5;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
 

  .container-search{
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  input{
    width: 38%;
    height: 35px;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 3px 0px gray;
    text-align: center;
  }
  select{
    margin-left: 15px;
    width: 37%;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 3px 0px gray;
  
  }
  .btn-search{
    width: 20%;
    background-color: #dd1a1a;
    border: none;
    box-shadow: 0px 1px 3px 0px gray;
  }


  .pagination{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 2rem;
    gap: .5rem;
  }
  .pagination-btn{
    background-color: #dd1a1a;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    padding: .3rem;

  }
  .pagination-btn:hover{
    color: white;
    transform: scale(100rem);
    background-color: #2c2fa5;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  
  }
  .number-pages{
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    background-color: white;
    padding: .3rem;
  }


  .number-pages:focus{
    background-color: #dd1a1a;
  }

  

  /* query pokemon card */

  .grid{
    display: grid;
    width: 900px;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 3rem;
  }
  







}